<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si un fichier ou dossier existe, servir directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, rediriger toutes les requêtes vers index.php
    RewriteRule ^ index.php [L]
</IfModule>
